// Imports
@import "variables.scss";
@import "nav.scss";
@import "footer.scss";

.app-home, .app-about {
    font-family: $font2;
    overflow-x: hidden !important;
    background: $bColor !important;
    -webkit-tap-highlight-color: transparent !important;
  }

  // Home
  .home {
    height: auto;
    padding-bottom: 2em !important;
  }

  .hm {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -45%) !important;
      width: 100% !important;
  }

  // Title
  .e-s {
    font-size: 60px !important;
    font-family: $font !important;
    font-weight: 700 !important;
    color: $color !important;
  }

  .bk {
    display: none;
  }

  // Text
  .h-txt, .h-txt-2 {
    font-size: 20px !important;
    font-family: $font2 !important;
    font-weight: 500 !important;
    color: $color !important;
  }

  // Get Started Btn
  .gs-btn {
    width: 180px;
    height: 25px;
    border-radius: 30px;
    margin-left: auto !important;
    margin-right: auto !important;
    color: $color;
    text-align: center !important;
    padding-top: 8px !important;
    padding-bottom: 10px !important;
    cursor: pointer !important;
    border: 2px solid $color;
    overflow: hidden;
    text-decoration: none;
    transition: 0.3s color ease-in-out;
    transition: 0.3s transform ease-in-out;
    will-change: transform;
    z-index: 0;
   

     &::after {
      background-color: $color;
      border-radius: 30px;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: 0.3s color ease-out;
      transition: 0.3s transform ease-out;
      will-change: transform;
      z-index: -1;
    }

    &:hover {
      border: 2px solid transparent;
      color: $bColor;
      transform: scale(1.05);
      will-change: transform;

      &::after {
      transform: translate(0, 0);
    }
  }
}

.gs {
    font-family: $font2 !important;
    font-weight: 700 !important;
    font-size: 18px;
}

// About
.about {
    width: 100%;
    height: auto;
    padding-bottom: 2em !important;
}

.ab {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -24%) !important;
}

.brand {
    width: 60px;
    height: 60px;
    background-image: url(../assets/xtades-logo.svg) !important;
    background-size: 60px 60px !important;
    text-decoration: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  // 575px
  @media screen and (max-width: 575px) {
   .hm, .ab {
    width: 80% !important;
   }

    .e-s {
      font-size: 45px !important;
    }

    .bk {
      display: block !important;
    }

    .h-txt, .h-txt-2 {
      font-size: 18px !important;
      text-align: center !important;
    }

    // Get Started Btn
  .gs-btn {
    width: 160px;
    height: 25px;
    border-radius: 30px;
    padding-top: 8px !important;
    padding-bottom: 10px !important;
}

.gs {
    font-size: 17px;
}

.ab {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -18%) !important;
    width: 80% !important;
  }

  }

  // 320px
  @media screen and (max-width: 320px) { 
   .hm, .ab {
    width: 80% !important;
   }

    .e-s {
      font-size: 40px !important;
    }

    .bk {
      display: block !important;
    }

    .h-txt, .h-txt-2 {
      font-size: 15px !important;
      text-align: center !important;
    }

    // Get Started Btn
  .gs-btn {
    width: 140px;
    height: 20px;
    border-radius: 30px;
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}

.gs {
    font-size: 15px;
}
  }
