// Google Fonts Link
@import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');

// Variables
$bColor: #ECF0F3;
$color:  #19181b;
$color2: #19181b;
$color3: #f84c46;
$color4: #f84c46;
$font: 'Gilroy', sans-serif;